<div class="blog-posts single-post">
    <article class="post post-large blog-single-post">
        <div class="post-image">
            <div class="img-thumbnail">
                <img class="img-responsive" ng-src="<{ course.imagePath }>" alt="image path">
            </div>
        </div>
        <div class="post-date">
            <span class="day"><{ course.createdAt | date:'dd' }></span>
            <span class="month"><{ course.createdAt | date:'MM' }></span>
        </div>
        <div class="post-content">
            <h2 class="text-center"><a href="#">{{ course.title }}</a></h2>
            <div id="introduce" ng-hide="true">{{ course.introduce }} </div>
            <div ng-init="course={{ course.id }}"></div>
            <wiz-markdown content="introduce"></wiz-markdown>
            <button class="btn btn-primary btn-lg pull-left">Previous Chapter</button>
            <button class="btn btn-primary btn-lg pull-right">Next Chapter</button>
            <div ng-controller="CommentController">
                <div class="post-block post-comments clearfix">
                    <h3><i class="fa fa-comments"></i>Comments ({{ comments | length }})</h3>
                    <ul class="comments">
                        {% for comment in comments %}
                        <li>
                            <div class="comment">
                                <div class="img-thumbnail">
                                    <img class="avatar" alt="" src="{{ asset('bundles/viettutweb/img/avatar-2.jpg') }}">
                                </div>
                                <div class="comment-block">
                                    <div class="comment-arrow"></div>
                                                                <span class="comment-by">
                                                                    <strong>{{ comment.author.username }}</strong>
                                                                    <span class="pull-right">
                                                                        <span> <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                                                                    </span>
                                                                </span>
                                    <p>{{ comment.content }}</p>
                                    <span class="date pull-right">{{ comment.createdAt | date('h:M d/m/Y') }}</span>
                                </div>
                            </div>
                            <ul class="comments reply">
                                <li>
                                    {% for reply in comment.replies %}
                                    <div class="comment">
                                        <div class="img-thumbnail">
                                            <img class="avatar" alt="" src="{{ asset('bundles/viettutweb/img/avatar-3.jpg') }}">
                                        </div>
                                        <div class="comment-block">
                                            <div class="comment-arrow"></div>
                                                                            <span class="comment-by">
                                                                                <strong>{{ reply.author.username }}</strong>
                                                                            </span>
                                            <p>{{ reply.content }}</p>
                                            <span class="date pull-right">{{ reply.createdAt | date('h:M d/m/Y') }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </li>
                            </ul>
                        </li>
                        {% endfor %}
                        <li ng-repeat="comment in comments">
                            <div class="comment">
                                <div class="img-thumbnail">
                                    <img class="avatar" alt="" src="{{ asset('bundles/viettutweb/img/avatar-2.jpg') }}">
                                </div>
                                <div class="comment-block">
                                    <div class="comment-arrow"></div>
                                                                <span class="comment-by">
                                                                    <strong><{ comment.author.username }></strong>
                                                                    <span class="pull-right">
                                                                        <span> <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                                                                    </span>
                                                                </span>
                                    <p><{ comment.content }></p>
                                    <span class="date pull-right"><{ comment.createdAt | date:'yyyy-MM-dd HH:mm:ss' }></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="post-block post-leave-comment">
                    <h3>Leave a comment</h3>
                    <div ng-init="currentCourse={{ course.id }}"></div>
                    <form>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Comment *</label>
                                    <textarea maxlength="5000" rows="10" ng-model="content" class="form-control" name="comment"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button
                                        ladda-button="laddaLoading"
                                        data-style="slide-right"
                                        ng-disabled="!isAuthenticated"
                                        ng-click="addComment()"
                                        class="ladda-button btn-primary"
                                        style="border-radius: 5px;">Post Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </article>
</div>