{% extends 'base.html.twig' %}
{% block controller %}ng-controller="TutorialController"{% endblock %}
{% block main %}
    <style>
        textarea {
            width: 100%;
            height: 90%;
        }
    </style>
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active"><a href="{{ path('tutorial_index') }}">Tutorials</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Write tutorial</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="createGuide">
                    <div class="form-group">
                        <label for="title">Tiêu đề</label>
                        <input type="text" value="" class="form-control" name="title" id="title" ng-model="title" required>
                    </div>
                    <div class="form-group">
                        <tags-input ng-model="selectedTags" on-tag-added="addTag($tag)">
                            <auto-complete
                                    source="loadTags()"
                                    min-length="1"
                                    select-first-match="false">
                            </auto-complete>
                        </tags-input>
                    </div>
                    <div class="form-group">
                        <label for="content">Nội dung</label>
                        <textarea
                                ng-model="content"
                                name="content"
                                markdown-editor="{'iconlibrary': 'fa', addExtraButtons: true, resize: 'vertical'}"
                                rows="15">
                        </textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button ladda-button="laddaLoading" data-style="slide-right" ng-click="create()" class="btn btn-lg btn-primary border-radius5">Đăng</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom %}
    <script src="{{ asset('bundles/viettutweb/js/controller/tutorial.js') }}"></script>
{% endblock %}