{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block main %}
    <div class="container">
        <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="box-content">
                <h4>{{ 'layout.reset_password' | trans }}</h4>
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                                <input type="text" id="username" name="username" required="required" class="form-control input-lg" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}