<aside class="sidebar">
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#popularPosts" data-toggle="tab">Khóa khác</a></li>
            <li><a href="#recentPosts" data-toggle="tab">Hướng dẫn khác</a></li>
        </ul>
        <div class="tab-content">
            {% if popularCourses | length > 0 %}
            <div class="tab-pane active" id="popularPosts">
                <ul class="simple-post-list">
                    {% for c in popularCourses %}
                    <li>
                        <div class="post-image">
                            <div class="img-thumbnail">
                                <a href="{{ path('course_detail', {'hash' : c.hashTag, 'username' : c.author.username}) }}">
                                    <img src="{{ c.imagePath }}" alt="cover image" width="50px" height="50px">
                                </a>
                            </div>
                        </div>
                        <div class="post-info">
                            <a href="{{ path('course_detail', {'hash' : c.hashTag, 'username' : c.author.username}) }}">{{ c.title }}</a>
                            <div class="post-meta">
                                {{ c.createdAt | date('h:i d/m/Y') }}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if popularTutorials | length > 0 %}
            <div class="tab-pane" id="recentPosts">
                <ul class="simple-post-list">
                    {% for tut in popularTutorials %}
                    <li>
                        <div class="post-info">
                            <a href="{{ path('tutorial_detail', {'hash' : tut.hashTag, 'username' : tut.author.username}) }}">{{ tut.title }}</a>
                            <div class="post-meta">
                                {{ tut.createdAt | date('h:i d/m/Y') }}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</aside>