{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block main %}
    <div class="row">
        <div class="col-md-12 center">
            <p class="short lead">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
{% endblock %}
