# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: test
    database_user: test
    database_password: 12345678
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    secret: ea31b59727f6a11e1d8160027e80707f6d0b0ce9
    mailer_user: tut4vietcoder@gmail.com
    mailer_password: Fuqcjd6j3U@@
    mailer_port: null
    mailer_sender: tut4vietcoder@gmail.com
    mailer_sender_name: 'ViettuT Academy'
    password_resetting_link: 'http://localhost:9010/#/reset/changePassword'
    upload_root_directory: /var/www/api.server.dev/web/uploads/images
    upload_directory: /uploads/images
    popular_size: 10
    page_size: 5
    facebook_app_id: '1245562308819573'
    facebook_app_secret: '55ea4598ddcd5707ef67aaa4d0224086'
    facebook_redirect_uri: 'http://viettut.dev/app_dev.php/facebook/login'
    google_client_id: '355171488116-rml9h7b9ivdn8ub5sgu6r6eh1vkluvav.apps.googleusercontent.com'
    google_client_secret: 'eyeBjN6tVwQwNrkG-S0XQmxa'
    google_redirect_uri: 'http://viettut.dev/app_dev.php/google/login'
    video_width: 500
    video_height: 300
