/* Add here all your CSS customizations */
.markdown-body pre {
    background-color: #dde !important;
}

.text-auto-wrap {
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap !important; /* Firefox 1.0-2.0 */
    white-space: pre-wrap !important;
}

textarea {
    width: 100%;
    height: 90%;
}

.hidden {
    display:none !important;
}

.height200 {
    height: 200px;
}

.height300 {
    height: 300px;
}

.width100pc {
    width: 100%;
}

.width90pc {
    width: 90%;
}

.border-radius5 {
    border-radius: 5px;
}

#comment-form .form-control {
    height: 200px;
    width: 90%;
}

.top10 {
    top: 10px;
}

.mtop50 {
  margin-top: 50px;
}

.text-right-top {
    float:right;
    position: relative;
    top:-10px
}

.right25 {
    margin-right: 25px;
}

.padding20 {
    padding: 20px;
}