{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <div class="logo">
                    <a href="index.html">
                        <img width="111" height="54" src="{{ asset('bundles/viettutweb/img/viettut.png') }}" alt="Porto">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 center">
                <h1 class="short small">TÍNH NĂNG SẮP HOÀN THIỆN</h1>
                <p class="short lead">Hiện tính năng này chưa hoàn thiện, bạn vui lòng ghé lại sau. Cảm ơn !</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="progress-bars">
                    <div class="progress-label">
                        <span><strong>Ý tưởng:</strong> Xong</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                            <span class="progress-bar-tooltip">100%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span><strong>Thiết kế</strong></span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="300">
                            <span class="progress-bar-tooltip">85%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span><strong>Phát triển</strong></span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="75%" data-appear-animation-delay="600">
                            <span class="progress-bar-tooltip">75%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="newsletter">
                    <h5>subscribe để nhận thông tin khi tính năng này hoàn thiện !</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

